/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  height: 100%;
  line-height: 1.35;
  background: url(/assets/bg.gif) top center no-repeat #133753;
}

div.users {
  width: 100%;
  background: white;
  -moz-box-shadow: 0 0 10px #1f1f1f;
  -webkit-box-shadow: 0 0 10px #1f1f1f;
  box-shadow: 0 0 10px #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

section.splodges {
  background: url(/assets/splodges.png) top right no-repeat;
}

li {
  list-style: none;
}
