/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  height: 100%;
  line-height: 1.35;
  background: url(/assets/bg.gif) top center no-repeat #133753;
}

#header {
  width: 650px;
  margin: 10px auto;
}

#flash {
  color: white;
  float: right;
  font-style: italic;
  vertical-align: bottom;
}

span#title {
  color: white;
  font-size: 24px;
  font-style: italic;
  padding-left: 0.5em;
  margin-top: 0;
  vertical-align: top;
  font-family: 'Georgia,times,serif';
}
