// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#users {
  width: 100%;
  background: white;
}

section#splodges {
  background: url(/assets/splodges.png) top right no-repeat;
}

li {
  list-style: none;
}
