// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#users {
  width: 650px;
  background: white;
}

section#splodges {
  background: url(/assets/splodges.png) top right no-repeat;
}

li {
  list-style: none;
}

span#title {
  color: white;
  font-size: 24px;
  font-style: italic;
  padding-left: 0.5em;
  margin-top: 0;
  vertical-align: top;
  font-family: 'Georgia,times,serif';
}
