// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pagination {
  width: 580px;
  margin: 10px auto;
  text-align: center;
}

li#meeting {
  padding: 1em 0 1em 0;
  margin-right: 2.5em;
  border-bottom: 1px solid #ccd;
}

div#client {
  float: right;
  font-size: 22px;
  font-weight: bold;
}

div#meta {
  font-style: italic;
  padding-top: 0.5em;
}
